{% extends 'index.html' %}
{% load bootstrap_tags %}
{% load custom_tags %}
{% load static %}


{% block head_js %}
  <script src="https://js.stripe.com/v2/" type="text/javascript"></script>
  <script type="text/javascript">
      //<![CDATA[
      Stripe.publishableKey = '{{ publishable }}';
      //]]>
  </script>
  <script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>

{% endblock %}



{% block content %}

    <h1>{{ session_name.name }}</h1>
    <h3>£{{ session_name.price }}</h3>
    <form method="POST" id="booking-form">

    <div class="row">
        {% csrf_token %}
        {{ form|as_bootstrap }}

        <div id="credit-card-errors" style="display:none">
            <div class="alert-message block-message error" id="stripe-error-message"></div></div>
            <div class="form-group">
                <input class="btn btn-primary" id="validate_card_btn" name="commit" type="submit" value="Validate Credit Card">
            </div>
        </div>
    </form>



    <script type="text/javascript">
        $("#div_id_day").addClass('wrap-1');
        $("#div_id_start_time").addClass('wrap-1');
        $("#div_id_notes").addClass('wrap-1');
        $("#div_id_type_class").addClass('wrap-1').hide();

        $('.wrap-1').wrapAll("<div class='col-md-6'>");



        $("#div_id_credit_card_number").addClass('wrap-2');
        $("#div_id_cvv").addClass('wrap-2');
        $("#div_id_expiry_month").addClass('wrap-2');
        $("#div_id_expiry_year").addClass('wrap-2');


        $('.wrap-2').wrapAll("<div class='col-md-6'>");


        $('#id_type_class option').attr('selected', 'selected');
    </script>
{% endblock %}