{% load bootstrap_tags %}


<div class="row">
    <form method="POST" class="col-md-6">
        {% csrf_token %}
        {{ form|as_bootstrap }}
        <button type="submit" class="btn btn-info">Save</button>
    </form>

    <p class="col-md-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium architecto aspernatur assumenda, consequatur delectus dicta distinctio dolor doloribus eveniet inventore iure laudantium obcaecati quibusdam, quisquam ratione saepe vero voluptates?

    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus amet animi asperiores dolor, esse magni maxime nostrum odio quo vel. Blanditiis consequatur distinctio earum illum modi, placeat provident repellendus velit.

    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus amet animi asperiores dolor, esse magni maxime nostrum odio quo vel. Blanditiis consequatur distinctio earum illum modi, placeat provident repellendus velit.

    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet facilis impedit ipsam ipsum iste, quos voluptas? Aut consectetur consequatur earum itaque laudantium nemo neque sequi? Ad fuga hic necessitatibus tenetur!</p>
</div>