{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

     <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/static/stlye/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <title>Booking</title>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    {% block head_js %}{% endblock %}
 </head>


<body>
    <div class="my-container">
        <div class="jumbotron">
            <h1>Calendar Booking System</h1>
            <h2 class=card-footer">Book a Class</h2>
        </div>

        {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
        {% endfor %}




        {% block content %}

        {% endblock %}
    </div>

    <script>
    $( function() {
        $( "#id_day" ).datepicker({
            beforeShowDay: function(date) {
                var day = date.getDay();
                return [(day != 0), ''];
        }
        });
    });
    </script>
</body>

</html>


